/*Variables*/
:root {
    --color-blanco: #fff;
    --color-celeste: #04B4E0;
    --color-fondo: #F2F7F9;
    --color-transparente: transparent;
    --color-negro: #222222;
    --color-icono: #B5B6B7;
    --color-subtitulo: #8C8C8C;
    --color-texto: #555555;
    --color-sidebar: #EAF1FB;
    --color-borde-testimonio: #E5E6E7;
    --color-compania: #A5A6A7;
}

/* ESTILOS GENEREALES */

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--color-fondo);
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--color-texto);;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-negro)
}

/* Imagen de Fondo */

body {
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -30px -120px;
}

/* ESTRUCTURA PRINCIPAL */

.contenido {
    position: relative;
    min-width: 1050px;
    min-height: 60vh;
    width: 75%;
    height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    /*Sombra*/
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.26);
}

/*BARRA LATERAL*/
.contenido__aside {
    grid-area: aside;
    
    border-radius: 4rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}

.aside_info-Usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    min-width: 30rem;
    background-color: var(--color-celeste);
    color: var(--color-blanco)
}

.info-Usuario__container-imagen {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 4.5rem;
    z-index: 1;
}

.info-Usuario__imagen {
    width: 100%;
    background-color: var(--color-blanco);
    border: 3px solid var(--color-blanco);
    border-radius: 20rem;
}

.info-Usuario__container-imagen::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 5%;
    width: 100%;
    height: 100%;
    background-image: -repeating-linear-gradient(center center, #fff, #fff, 1px, transparent 0px, transparent 100%);
    background-size: 0.6rem 0.6rem;
    opacity: 0.3;
    border-bottom: 30rem;
}

.info-Usuario__nombre{
    color: var(--color-blanco);
    font-size: 2.3rem;
    font-weight: bold;
    margin-top: 2rem;
}

.info-Usuario__trabajo{
    color: var(--color-blanco);
    font-size: 1.3rem;
    font-weight: 200;
}

.info-Usuario__usuario-links {
    margin-bottom: 2.5rem;
}

.usuario-links__social {
    margin-top: 2rem;
    text-align: center;
    display: flex;
}

.social__opcion {
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.4rem;
    opacity: 0.9;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}

.social__link {
    color: var(--color-blanco);
}

.social__opcion:hover{
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
}

/*Boton*/

.info-Usuario__botones {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.info-Usuario__btn {
    padding: 3rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border: 2px solid var(--color-blanco);
    border-radius: 3.2rem;
    color: var(--color-blanco);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.20);
    transition: all 300ms ease-in-out;
}

.info-Usuario__btn:hover {
    background-color: var(--color-blanco);
    color: var(--color-celeste)
}

.info-Usuario__footer {
    font-size: 1.2rem;
}

/*CONTENEDOR PRINCIPAL*/

.contenido__principal {
    grid-area: content;
    background-color: var(--color-celeste);
    border-radius: 0 10rem 10rem 0;
    height: 100%;
    min-height: 100%;
}

.contenido__pagina {
    background-color: var(--color-blanco);
    border-radius: 3.2rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagina__nombre{
    font-size: 5.5rem;
    margin-bottom: 1.2rem;
}

.pagina__job {
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color-subtitulo);
}

/*MENU LATERAL */

.info-Usuario__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -110px;
    min-width: 11rem;
    background-color: var(--color-transparente);
}

.menu__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position:relative;
    width: 60%;
    min-height: 32rem;
    background-color: var(--color-blanco);
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0 0.15);
    border-radius: 6rem;
    padding: 2rem 0;
    margin-left: 2rem;
}

.menu__opcion{
    display: block;
    width: 100%;
    text-align: center;
}


.menu__link {
    color: var(--color-icono);
    font-size: 2rem;
    transition: all 300ms ease-in-out;
}


.menu__opcion:hover .menu__link, .menu__link--active{
    color: var(--color-celeste)
}

.menu__overlay{
    position: absolute;
    right: 0;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    opacity: 0;
    text-align: center;
    display: block;
    color: var(--color-blanco);
    background-color: var(--color-celeste);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
}

.menu__opcion:hover .menu__overlay {
    opacity: 1;
    right: 100%;
}


/*SECCION SOBRE MI */

/*TODOS LOS ESTILOS QUE SE CREAN DEBAJO DE ESTA LINEA SON ESPECIFICOS PARA SOBRE-MI.HTML*/

.contenido__sobremi {
    height: 100%;
    min-height: 100%;
    padding: 5rem;
    padding-right: 2.5rem;
    display: block;
    overflow: auto;
}

/**Titulo */

.sobremi__header {
    margin-bottom: 4rem;
    display: inline-block;
}

.header__titulo {
    font-size: 3rem;
    position: relative;
}

.header__titulo::after{
    content: "";
    position: absolute;
    top: 20px;
    right: -25px;
    width: 50px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-celeste), var(--color-celeste) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

.titulo__color {
    color: var(--color-celeste);
}

/*Informacion Personal*/
.sobremi__informacion-personal {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;
}

.informacion-personal__bio {
    flex-basis: 58%;
}

.informacion-personal__data {
    flex-basis: 42%;
    padding: 0 1.5rem;
}

.informacion-personal__descripcion {
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.informacion-personal__opcion {
    margin-bottom: 1rem;
}

.informacion-personal__first {
    margin-right: 0.5rem;
    color: var(--color-celeste);
    font-weight: 600;
}

/*ESTILOS COMPARTIDOS*/

.sobremi__servicios, .sobremi__testimonios, .sobremi__clientes, .sobremi__precios, .sobremi__extras{
    width: 100%;
    margin-bottom: 3rem;
}

.servicios__header, .testimonios__header, .clientes__header, .precios__header, .extras__header {
    display: inline-block;
    padding-right: 1.2rem;
    position: relative;
    margin-bottom: 2.5rem;
}

.servicios__titulo, .testimonios__title, .clientes__titulo, .precios__titulo, .extras__titulo {
    font-size: 2.1rem;
}

.servicios__titulo::after,
.testimonios__title::after,
.clientes__titulo::after,
.precios__titulo::after,
.extras__titulo::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0px;
    width: 30px;
    height: 20px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-celeste), var(--color-celeste) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.5;
}

/*SERVICIOS*/

.icono__servicio{
    color: var(--color-celeste);
    font-size: 3.8rem;
}

.servicios__contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.servicios__servicio{
    flex-basis: calc(50% - 3rem);
    margin-right: 3rem;
    margin-bottom: 2.5rem;
}

.servicios__titulo {
    font-size: 1.8rem;
    margin: 0.5rem 0;

}

.servicion__descripcion {
    font-size: 1.5rem;
    text-align: justify;
}

/*Testimonios*/

.testimonios__contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.testimonios__testimonio {
    flex-basis: calc(50% - 2.5rem);
    border: 0.2rem solid var(--color-borde-testimonio);
    border-radius: 2rem;
    padding: 0 2.5rem 1.5rem 2.5rem;
    margin-right: 2.5rem;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
}

.testimonio__img-contenedor {
    width: 100%;
}

.testimonio__fullIMG {
    max-width: 9rem;
    max-height: 9rem;
    border-radius: 9rem;
    margin: 0 auto;
    margin-top: -4.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 10px 10px -8px rgba(0 0 0 0.22);
}

.testimonio__descripcion {
    margin-bottom: 1rem;
}

.testimonio__texto {
    font-size: 1.5rem;
    line-height: 2.4rem;
}

.testimonio__autor {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.autor__nombre {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.autor__empresa {
    color: var(--color-compania);
    font-weight: 200;
    font-style: italic;
    font-size: 1.3rem;
}

.autor__icono-item {
    font-size: 4rem;
    opacity: 0.5;
    color: var(--color-celeste);
}

/*CLIENTES*/

.sobremi__clientes {
    width: 100%;
    margin-bottom: 2rem;
}

.clientes__header{
    margin-bottom: 3rem;
}

.clientes__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cliente__link {
    display: block;
    width: 100%;
    opacity: 0.7;
    transition: all 300ms ease-in-out;
}

.cliente__link:hover {
    opacity: 1;
}

.client__img {
    width: 145px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

/*PRECIOS*/

.precios__contenedor{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.precios__caja {
    flex-basis: 50%;
    height: 100%;
    border: 2px solid var(--color-borde-testimonio);
    border-radius: 1.5rem;
    padding: 3rem;
    margin-right: 3rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.precios__caja:last-child {
    margin-right: 0rem;
}

.precios__caja:hover{
    box-shadow: 0 18px 24px -5px rgba(0, 0, 0, 0.15);
    transform: translateY(-1rem);
}

.precios__subtitulo{
    margin-bottom: 3rem;
}

.precio__texto {
    position: relative;
    display: inline-block;
}

.precios__caja:hover .precio__texto::after {
    content: "";
    height: 2px;
    background-color: var(--color-celeste);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
}

.precios__precio {
    padding-bottom: 1rem;
}

.preio__numero {
    font-size: 4.2rem;
    line-height: 1;
    color: var(--color-negro);
    display: block;
}

.precio__aviso {
    color: var(--color-texto);
    display: block;
}

.precios__compra {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.precio__btn {
    display: inline-block;
    padding: 1.2rem 3.1rem;
    border: 2px solid var(--color-borde-testimonio);
    box-shadow: 0 10px 10px -8px var(--color-borde-testimonio);
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
}

.precio__btn:hover {
    background-color: var(--color-celeste);
    color: var(--color-blanco);
    border: 2px solid var(--color-celeste);
}

.precio_descripcion {
    font-size: 1.4rem;
    padding: 0.6rem 0;
}

/*Informacion extra*/

.extras__contenedor {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

.extras__info {
    flex-basis: 30%;
    border: 2px solid var(--color-borde-testimonio);
    border-radius: 1rem;
    padding: 2.5rem 1rem;
    text-align: center;
    transition: all 300ms ease-in-out;
}

.extras__info:hover {
    box-shadow: 0 18px 24px -5px rgba(0, 0, 0, 0.15);
    transform: translateY(0.5rem);
}

.extra__icono {
    font-size: 3.3rem;
    color: var(--color-celeste);
    margin-bottom: 1rem;
}

.extras__titulo {
    font-size: 1.5rem;
    margin:1.5rem;
}

.extras__cantidad {
    display: block;
    font-size: 3.6rem;
    line-height: 5rem;
    margin: 1.5rem 1rem;
    margin-bottom: 0;
    color: var(--color-subtitulo);
}